In [1]:
#create a variable savings
savings = 600

In [2]:
#print out savings 
savings

600

In [3]:
#create an yearly_interest rate at 1%
yearly_interest =(savings) * 1/100

In [4]:
#print out value of yearly_interest
yearly_interest

6.0

In [5]:
#show total savings after a year
total_savings = savings + yearly_interest

In [6]:
#print out total savings
total_savings

606.0

In [7]:
#print out amount of savings in a sentence
#this will develop an error since we are adding different data types;string to float
#to prevent thta from happening, put the float into brackets then an str before it to make it string
print("I have" + total_savings + "in my bank account")

TypeError: can only concatenate str (not "float") to str

In [8]:
#print out amount of savings in a sentence
print("I have" + str(total_savings)  + "in my bank account")

I have606.0in my bank account