In [2]:
total = 0

while total <=9:
    total = total +1
    print(total)

1
2
3
4
5
6
7
8
9
10

In [5]:
blast_off = 8
while blast_off !=0:
    print("t-minus...")
    blast_off = blast_off - 1
    print(blast_off)

t-minus...
7
t-minus...
6
t-minus...
5
t-minus...
4
t-minus...
3
t-minus...
2
t-minus...
1
t-minus...
0

In [14]:
blast_off = 11
while blast_off != 1:
    print("...t-minus...")
    blast_off = blast_off - 1
    print(blast_off)
    if blast_off <= 1:
        print("...lift off...")

...t-minus...
10
...t-minus...
9
...t-minus...
8
...t-minus...
7
...t-minus...
6
...t-minus...
5
...t-minus...
4
...t-minus...
3
...t-minus...
2
...t-minus...
1
...lift off...

In [16]:
#the for loop
salary_list = [21000,23000,29000,34000,38000,59000,60000]

for salary in salary_list:
    print(salary)

21000
23000
29000
34000
38000
59000
60000

In [18]:
for index,salary in enumerate(salary_list):
    print("index" + str(index + 1) + ":" + str(salary))

index1:21000
index2:23000
index3:29000
index4:34000
index5:38000
index6:59000
index7:60000

In [22]:
employees = [["Tony",20000],["Mjay",30000],["Marv",40000]]

for staff in employees:
    print(staff[0] + " earns " + str(staff[1])+" per year")

Tony earns 20000 per year
Mjay earns 30000 per year
Marv earns 40000 per year

In [25]:
#loop over data structures
world = {"Ireland":4.5,"united kingdom":65.7}

#print out key and value for each key value pair
for key, value in world.items():
    print(key + " --" + str(value))

Ireland --4.5
united kingdom --65.7

In [33]:
#loop over numpy arrays
import numpy as np
salaries = [20000,25000,30000,35000,40000,450000,50000]
np_salaries = np.array(salaries)

for s in np_salaries:
    print("c " +str(s) + " per year")

c 20000 per year
c 25000 per year
c 30000 per year
c 35000 per year
c 40000 per year
c 450000 per year
c 50000 per year

In [37]:
np_salaries =np.array([20000,25000,30000,35000,40000,450000,50000]) 
np_employees = np.array(["joey","gee","coco","mark","tafari","reg","ross"])

combined_details = np.array([np_salaries,np_employees])

for val in combined_details:
    print(val)

['20000' '25000' '30000' '35000' '40000' '450000' '50000']
['joey' 'gee' 'coco' 'mark' 'tafari' 'reg' 'ross']

In [40]:
import pandas as pd 
speaks_english = pd.read_csv('datasets/speaks_english.csv', index_col =0)

for val in speaks_english:
    print(val)

country
speaks_english
2015 population

In [44]:
for lab,row in speaks_english.iterrows():
      print(lab)
      print(row)

IE
country            ireland
speaks_english        True
2015 population        4.7
Name: IE, dtype: object
UK
country            united kingdom
speaks_english               True
2015 population              65.3
Name: UK, dtype: object
DE
country            germany
speaks_english       False
2015 population       81.7
Name: DE, dtype: object
FR
country            france
speaks_english      False
2015 population      64.4
Name: FR, dtype: object
AU
country            australia
speaks_english          True
2015 population         23.8
Name: AU, dtype: object
US
country            united states
speaks_english              True
2015 population            319.9
Name: US, dtype: object
JP
country            japan
speaks_english     False
2015 population    129.9
Name: JP, dtype: object

In [47]:
for lab, row in speaks_english.iterrows():
     print(lab + ": " + str(row["2015 population"]))

IE: 4.7
UK: 65.3
DE: 81.7
FR: 64.4
AU: 23.8
US: 319.9
JP: 129.9

In [49]:
speaks_english = pd.read_csv('datasets/speaks_english.csv', index_col =0)

#for loop remains the same
for lab, row in speaks_english.iterrows():
    #we can select the country name by using row["country"] and passing
    #it thru the length function
    #we then need to add this new information to a new column
    #use loc which is label based
    speaks_english.loc[lab, "name length"]= len(row["country"])
    print(speaks_english)

           country  speaks_english  2015 population  name length
IE         ireland            True              4.7          7.0
UK  united kingdom            True             65.3          NaN
DE         germany           False             81.7          NaN
FR          france           False             64.4          NaN
AU       australia            True             23.8          NaN
US   united states            True            319.9          NaN
JP           japan           False            129.9          NaN
           country  speaks_english  2015 population  name length
IE         ireland            True              4.7          7.0
UK  united kingdom            True             65.3         14.0
DE         germany           False             81.7          NaN
FR          france           False             64.4          NaN
AU       australia            True             23.8          NaN
US   united states            True            319.9          NaN
JP           japan           False            129.9          NaN
           country  speaks_english  2015 population  name length
IE         ireland            True              4.7          7.0
UK  united kingdom            True             65.3         14.0
DE         germany           False             81.7          7.0
FR          france           False             64.4          NaN
AU       australia            True             23.8          NaN
US   united states            True            319.9          NaN
JP           japan           False            129.9          NaN
           country  speaks_english  2015 population  name length
IE         ireland            True              4.7          7.0
UK  united kingdom            True             65.3         14.0
DE         germany           False             81.7          7.0
FR          france           False             64.4          6.0
AU       australia            True             23.8          NaN
US   united states            True            319.9          NaN
JP           japan           False            129.9          NaN
           country  speaks_english  2015 population  name length
IE         ireland            True              4.7          7.0
UK  united kingdom            True             65.3         14.0
DE         germany           False             81.7          7.0
FR          france           False             64.4          6.0
AU       australia            True             23.8          9.0
US   united states            True            319.9          NaN
JP           japan           False            129.9          NaN
           country  speaks_english  2015 population  name length
IE         ireland            True              4.7          7.0
UK  united kingdom            True             65.3         14.0
DE         germany           False             81.7          7.0
FR          france           False             64.4          6.0
AU       australia            True             23.8          9.0
US   united states            True            319.9         13.0
JP           japan           False            129.9          NaN
           country  speaks_english  2015 population  name length
IE         ireland            True              4.7          7.0
UK  united kingdom            True             65.3         14.0
DE         germany           False             81.7          7.0
FR          france           False             64.4          6.0
AU       australia            True             23.8          9.0
US   united states            True            319.9         13.0
JP           japan           False            129.9          5.0

In [50]:
speaks_english = pd.read_csv('datasets/speaks_english.csv', index_col =0)

#removing the for loop
speaks_english["name_length"] = speaks_english["country"].apply(len)
print(speaks_english)

           country  speaks_english  2015 population  name_length
IE         ireland            True              4.7            7
UK  united kingdom            True             65.3           14
DE         germany           False             81.7            7
FR          france           False             64.4            6
AU       australia            True             23.8            9
US   united states            True            319.9           13
JP           japan           False            129.9            5