In [2]:
# A list of random world countries
countries = ["ireland", "united kingdom", "germany", "france", "australia", "united states", "japan"]

# A list of which countries speak english
speak_english = [True, True, False, False, True, True, False]

# A population list for each country
pop_2015 = [4.7, 65.3, 81.7, 64.4, 23.8, 319.9, 127.9]

In [3]:
# Import pandas
import pandas as pd

# Create new dictionary with three key:value pairs from lists above
world_dictionary = {"country":countries, "speaks_english":speak_english, "2015 population":pop_2015}

# Build a DataFrame from world_dictionary
world_countries = pd.DataFrame(world_dictionary)

# Output dataframe
print(world_countries)

          country  speaks_english  2015 population
0         ireland            True              4.7
1  united kingdom            True             65.3
2         germany           False             81.7
3          france           False             64.4
4       australia            True             23.8
5   united states            True            319.9
6           japan           False            127.9

In [4]:
#new variable called row labels
row_labels = ["IE","UK","DE","FR","AU","US","JP"]

In [7]:
# Import pandas
import pandas as pd

# Create new dictionary with three key:value pairs from lists above
world_dictionary = {"country":countries, "speaks_english":speak_english, "2015 population":pop_2015}

# Build a DataFrame from world_dictionary
world_countries = pd.DataFrame(world_dictionary)

#new variable called row labels
row_labels = ["IE","UK","DE","FR","AU","US","JP"]

#use .index to assign row labels to dataframe
world_countries.index = row_labels

print(world_countries)

           country  speaks_english  2015 population
IE         ireland            True              4.7
UK  united kingdom            True             65.3
DE         germany           False             81.7
FR          france           False             64.4
AU       australia            True             23.8
US   united states            True            319.9
JP           japan           False            127.9

In [23]:
# Set index_col to 0
df = pd.read_csv('datasets/speaks_english.csv', index_col = 0)

#Output DataFrame
print(df)

           country  speaks_english  2015 population
IE         ireland            True              4.7
UK  united kingdom            True             65.3
DE         germany           False             81.7
FR          france           False             64.4
AU       australia            True             23.8
US   united states            True            319.9
JP           japan           False            129.9

In [22]:
import os
print(os.getcwd())

C:\Users\mercy

In [24]:
#select specific columns
df['country']

IE           ireland
UK    united kingdom
DE           germany
FR            france
AU         australia
US     united states
JP             japan
Name: country, dtype: object

In [28]:
df[['country']]

           country
IE         ireland
UK  united kingdom
DE         germany
FR          france
AU       australia
US   united states
JP           japan

In [29]:
#check type of df[['country']]
type(df[['country']])

pandas.core.frame.DataFrame

In [30]:
df[['country','2015 population']]

           country  2015 population
IE         ireland              4.7
UK  united kingdom             65.3
DE         germany             81.7
FR          france             64.4
AU       australia             23.8
US   united states            319.9
JP           japan            129.9

In [31]:
df[0:4]

           country  speaks_english  2015 population
IE         ireland            True              4.7
UK  united kingdom            True             65.3
DE         germany           False             81.7
FR          france           False             64.4

In [32]:
df.loc["IE"]

country            ireland
speaks_english        True
2015 population        4.7
Name: IE, dtype: object

In [33]:
df.loc[["IE"]]

    country  speaks_english  2015 population
IE  ireland            True              4.7

In [34]:
df.iloc[[0]]

    country  speaks_english  2015 population
IE  ireland            True              4.7